@model List<ApplicationUser>
@using Microsoft.AspNet.Identity;
@using Isa2017Cinema.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@{
    if (ViewBag.enableFanzoneOptions && ViewBag.enableLocationOptions)
    {
        if (User.IsInRole("Regular_User") || Request.IsAuthenticated==false)
        {
            
        }
    }
    else if(ViewBag.enableFanzoneOptions == false)
    {
        <h2 style="color:white;">Welcome new Agent! <br> As this is your first login, please change your password at the link below:</h2>
        <a href="@Url.Action("FirstLoginPasswordChange", "FanZone")">Change my password</a>
    }
    else if (ViewBag.enableLocationOptions == false)
    {
        <h2 style="color:white;">Welcome new Location Administrator! <br> As this is your first login, please change your password at the link below:</h2>
        <a href="@Url.Action("FirstLoginPasswordChange", "FanZone")">Change my password</a>
    }
}
@if (TempData["success"] != null)
{
    <div id="IndexSuccessMessage" class="row">
        <h3 style="color:white">@TempData["success"]</h3>
    </div>
}

<script>
    $(function () {
        setTimeout(function () {
            $("#IndexSuccessMessage").hide('blind', {}, 500)
        }, 3000);
    });
</script>