
@{
    ViewBag.Title = "Info";
}

<h2 style="color:white;">Attention - You must have a <strong> confirmed email</strong> to log on.</h2>
<div class="jumbotron">
    <h5>
        Please check your mail inbox and confirm registration by clicking on received link. Then you will be able to log in and continue.
    </h5>
    @Html.ActionLink("Back", "Index", "Home")
</div>

